.footerbar {
  width: 100%;
  padding-inline: var(--gap);
  position: sticky;
  bottom: 0;
  background-color: var(--background);
  z-index: 7;
}

.footernav,
.footernav > * {
  display: flex;
}

.footernav {
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--foreground);
  padding-block: var(--gap-m);
}

.themes {
  display: flex;
  gap: var(--gap-s);
}

.footernav .meta {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

@media screen and (width > 769px) {
  .footernav .meta {
    flex-direction: row;
    gap: var(--gap-m);
  }

  .footernav > * {
    gap: var(--gap-s);
  }
}
