.headerbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding-inline: var(--gap);
  background-color: var(--background);
  z-index: 7;
}

.navbar {
  border-bottom: 1px solid var(--foreground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--gap-s);
}

.title {
  color: var(--title);
  font-size: calc(2.2rem * var(--scale-factor));
}

.menu {
      display: none;
}

@media screen and (width > 769px) {
  .navbar {
    align-items: end;
  }

  .menu {
    padding-bottom: var(--gap-m);

  }

  .title  {
    font-size: calc(2.4rem * var(--scale-factor));
  }
}
